.mainContacts{
    height: 100vh;
    display: flex;
    color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
    
}

.contacts1Main, .contacts2Main, .contacts3Main{
    background: linear-gradient(135deg, #8f59fc 20%, #84b5ff 70%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
  padding: 20px 20px;
  border: 3px solid transparent;
  border-image: linear-gradient(135deg, #8f59fc 20%, #84b5ff 70%);
  border-image-slice: 1;
  width: 350px;
  height: 200px;
  font-size: 30px;
  margin-top:200px;
  
}

.contacts1Main{
    margin-left: 400px;
    
}


.contacts2Main{
    
    padding: 20px;
    margin-top: 400px;
}
.contacts2Main li{
    padding-top: 20px;
}